---
import BackButton from "../components/BackButton.astro";
import CardLink from "../components/CardLink.astro";
import Layout from "../layouts/main.astro";

import { projects } from "../util/content";

import { formatDate } from "../util/helpers";
---

<Layout title="Projects">
    <style>
        #project-list {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0;
        }

        #project-list h3 {
            margin: 1rem 0 0.5rem 0;
        }
        .card {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-areas: "title date" "description description";
            gap: 0.5rem;
            padding: 1rem;
        }
    </style>
    <BackButton />
    <h1 style="text-align: center;">Projects</h1>
    <p style="text-align: center;">
        Here are a few of my completed personal projects, you can find more on
        my <a href="https://github.com/expitau">Github</a>
    </p>
    <div id="project-list" style="margin-top: 4rem">
        {
            projects.map((project) => {
                return (
                    <CardLink href={project.data.url}>
                        <div class="card">
                            <h3 style="margin: 0; grid-area: title">{project.data.title}</h3>
                            <p style="margin: 0; grid-area: date; text-align: right">
                                {formatDate(project.data.pubDate)}
                            </p>
                            <p style="grid-area: description">
                                {project.data.longDescription ||
                                    project.data.description}
                            </p>
                        </div>
                    </CardLink>
                );
            })
        }
    </div>
</Layout>
