---
import BackButton from "../components/BackButton.astro";
import CardLink from "../components/CardLink.astro";
import Layout from "../layouts/main.astro";

import { projects } from "../util/content";

import { formatDate } from "../util/helpers";
---

<Layout title="Projects">
    <style>
        #project-list {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0;
        }

        #project-list h3 {
            margin: 1rem 0 0.5rem 0;
        }
    </style>
    <BackButton />
    <h1 style="text-align: center;">Projects</h1>
    <p style="text-align: center;">
        Here are a few of my completed personal projects, you can find more on
        my <a href="https://github.com/expitau">Github</a>
    </p>
    <div id="project-list" style="margin-top: 4rem">
        {
            projects.map((project) => {
                return (
                    <CardLink
                        href={project.data.url}
                        style="display: grid; grid-template-columns: 1fr auto; gap: 0.5rem; padding: 1.5rem"
                    >
                        <h3 style="margin: 0">{project.data.title}</h3>
                        <p style="margin: 0; padding-left: 1rem">
                            {formatDate(project.data.pubDate)}
                        </p>
                        <p>
                            {project.data.longDescription ||
                                project.data.description}
                        </p>
                    </CardLink>
                );
            })
        }
    </div>
</Layout>
