---
let { href, title } = Astro.props

if (!href) {
    href = "/"
}
if (!title) {
    title = "Home"
}
---

<a
    href={href}
    style="display: flex; flex-direction: row; align-items: center; gap: 1rem; margin-bottom: 1rem; margin-right: auto"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        width="24px"
        height="24px"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"></path>
    </svg>
    {title}
</a>
