---
// Card.astro
const { href, style } = Astro.props;
---

<a class="card-wrapper" href={href}>
    <div class="card" style={style}>
        <slot />
    </div>
</a>

<style>
    .card-wrapper {
        position: relative;
        text-decoration: none;
        padding: 2px;
    }

    .card-wrapper::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        padding: 2px;
        background: linear-gradient(
            113.38deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.05) 75%
        );
        opacity: 0;
        transition: opacity 0.3s;
    }

    .card-wrapper:hover::before {
        opacity: 1;
    }

    .card {
        background: linear-gradient(
            113.38deg,
            var(--background-highlight-2) 0%,
            var(--background-highlight) 75%
        );
        box-sizing: border-box;
        position: relative;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        margin: 0;
        padding: 1rem;
    }
</style>
