---
const { name } = Astro.props;

const colour = {
    "opinion": "#0284c755",
    "tutorial": "#0ea5e9"
}[name]

const fgColor = {
    "opinion": "#0ea5e9"
}[name]
---

<div style={{ backgroundColor: colour, color: fgColor }}>
    {name}
</div>

<style>
    div {
        border-radius: 2rem;
        padding: 0.3rem 0.5rem;
        width: fit-content;
        font-size: small;
        font-weight: bold;
    }
</style>
