---
const { name } = Astro.props;

const color: string = ({
    // "opinion": "#38bdf8",
    // "tutorial": "#22c55e",
    // "lecture": "#f6e05e",
} as Record<string, string>)[name] ?? "var(--text-secondary)";
---

<span class="tag" style={`color: ${color}; font-size: small; font-weight: 600; letter-spacing: 0.7px;`}>
    #<span>{name}</span>
</span>
