---
const { name } = Astro.props;

const colour = {
    "opinion": "#0284c755",
    "tutorial": "#16a34a55",
    "lecture": "#f6e05e55",
}[name] ?? "#00000055";

const fgColor = {
    "opinion": "#38bdf8",
    "tutorial": "#22c55e",
    "lecture": "#f6e05e",
}[name] ?? "#FFFFFF";
---

<div style={{ backgroundColor: colour, color: fgColor }}>
    {name}
</div>

<style>
    div {
        border-radius: 2rem;
        padding: 0.3rem 0.5rem;
        width: fit-content;
        font-size: small;
    }
</style>
