h1 {
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3 {
    font-weight: 500;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    /* border-bottom: 1px solid var(--text-secondary); */
    color: var(--text);
    line-height: 1.25;
}

strong {
    color: var(--text-secondary);
    font-weight: 600;
}

p {
    color: var(--text-secondary);
    line-height: 1.5em;
    margin: 0;
    font-weight: 400;
}

br {
    content: "";
    display: block;
    font-size: 1em;
    margin-top: 2rem;
}

img {
    border-radius: 0.5rem;
    margin: 0.2rem;
}

ul {
    margin: 0;
}

a {
    color: var(--link);
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    transition:
        transform var(--transition-s),
        color var(--transition-s);
}

p a:hover {
    text-decoration: underline;
    transform: translateY(-0.2rem);
}

article .astro-code {
    padding: 1.5rem;
    border-radius: 0.5rem;
}

article blockquote {
    /* background-color: #00000050; */
    margin: 0;
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0.2rem 0.5rem 1rem;
    border-left: 0.2rem solid var(--text-secondary);
    /* border-radius: 0.5rem; */
}

article>* {
    margin-bottom: 1rem;
}

article p:has(img) {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article p>img {
    width: 80%
}

article .embed {
    border-radius: 0.5rem;
    aspect-ratio: 1;
    overflow: hidden;
    margin: auto;
    margin-bottom: 2rem;
    max-width: 30rem;

}

article .embed > iframe {
    width: 100%;
    height: 100%;
    border: none;
}

article > p > .MathJax-block{
    display: block;
    margin-inline: auto;
    width: fit-content;
    font-size: large;
    overflow-x: auto;
    max-width: 100%;
}
